// Variables

// Main color was 000
$primary-color: #F1F0B0;

// Anchor color was 00cdff
$secondary-color: #00cdff;

// Font color was fff
$font-color: #000;

$navbar-text-shadow: true;
$header-text-shadow: false;
$header-background-color: $primary-color;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
